# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
locale: "en-GB"
title: "ChrisLAM"
title_separator: "-"
subtitle: A sad researcher.
name: "ChrisLAM"
description: "ChrisLam personal website."
# twitter_username: username
github_username: fdq09eca
minimal_mistakes_skin: "dark"
search: true
repository: "fdq09eca/Chris_personal"
# github: [metadata]
# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
teaser: https://source.unsplash.com/random/500x300
logo: https://source.unsplash.com/random/88x88
# masthead_title: "Chris.L"
include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name: "Chris Lam"
  avatar: "/assets/images/bio-photo.jpg"
  bio: "All that glitters is not gold, Not all those who wander are lost"
  location: "Hong Kong"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://fdq09eca.github.io/Chris_personal/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/fdq09eca"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/chris.chunglam"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/chris.chunglam"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

repository: "fdq09eca/Chris_personal"
comments:
  provider: "utterances"
  utterances:
    theme: "github-dark" # "github-dark"
    issue_term: "pathname"

compress_html:
  clippings: all
  ignore:
    envs: development # disable compression in dev environment
